@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid theme("colors.text-light");
    border-right-color: theme("colors.primary-dark");
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid theme("colors.text-light");
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }
  /* Another way if you don't want to retype thesame styling*/
  /* .movie-list-item {
    position: relative;
    display: grid;
    cursor: pointer;
    grid-template-columns: 3rem 1fr;
    grid-template-rows: auto auto;
    column-gap: 1rem;
    border-bottom-width: 2px;
    border-bottom-color: theme("colors.background-dark");
    border-bottom-style: solid;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.875rem;
    transition: all 0.3s;
  }

  .list-item:hover {
    border-bottom-color: theme("colors.background-dark");
  } */
  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
